:root {
  --arcade-orange: #f36c21;
  --arcade-white: #ffffff;
  --arcade-light-gray: #f9f9f9;
  --arcade-dark-gray: #333333;
  --arcade-sidebar-gray: #444444;
  --arcade-blue: #4a90e2;
  --arcade-red: #d9534f;
  --arcade-purple: #bb33ff;
  --arcade-green: #4caf50;
  --arcade-yellow: #ffd600;
  --arcade-black: #000000;
}

body {
  margin: 0;
  max-width: 100vw;
}

pre,
code {
  overflow: auto;
}

#pageContainer {
  display: flex;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
}

#blocklyDiv {
  flex-basis: 100%;
  height: 100%;
  min-width: 600px;
}

#outputPane {
  display: flex;
  flex-direction: column;
  width: 400px;
  flex: 0 0 400px;
  overflow: auto;
  margin: 1rem;
}

#generatedCode {
  height: 50%;
  background-color: rgb(247, 240, 228);
}

#output {
  height: 50%;
}
